public/*
!public/wp-content
public/wp-content/*
!public/wp-content/themes
public/wp-content/themes/*

# ===Include themes to keep===
!public/wp-content/themes/onlyfriend
# ===End of themes to include===

.DS_Store
.DS_Store?